# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test
.idea/

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

npm-debug.log

# dep
#Godeps/_workspace

# bin
application-broker

# Sublime
broker.sublime-project
broker.sublime-workspace

# testing-related
*.coverprofile
*.guid

# apps-as-a-service clone
apps

# cf cli
bin/cf

# gin
gin-bin

# IntelliJ IDEA
*.iml

# vim
*.swp

