<seelog type="sync" minlevel="info">
    <exceptions>
        <exception funcpattern="Test*" minlevel="off"/>
    </exceptions>
    <outputs formatid="standard">
        <filter levels="trace,debug,info,warn">
            <console/>
        </filter>
        <filter levels="error,critical">
            <custom name="stderr"/>
        </filter>
    </outputs>
    <formats>
        <format id="standard" format="[%LEV] %Msg%n"/>
    </formats>
</seelog>
