<ol class="breadcrumb" padding-top="60px">
  <li>Page: Home</li>
  <li class="active">Request new cluster</li>
</ol>

<div class="container">
  <form role="form">
    <div class="form-group">
      <label for="organization">Organization</label>
      <select id="organization" class="form-control"
        ng-model="myOrg"
        ng-options="org.name for org in orgs"
        ng-change="getSpace(myOrg.guid)">
      </select>
    </div>
    <div class="form-group" ng-show="spaces.length > 0">
      <label for="space">Space</label>
      <select id="space" class="form-control"
        ng-model="mySpace"
        ng-options="space.name for space in spaces"
        ng-change="setProjectSpaceName(mySpace.name)">
      </select>
    </div>
    <div class="form-group">
      <label for="project">Project space name</label>
      <div class="input-group">
        <span class="input-group-addon">@</span>
        <input type="text" class="form-control" id="project" value="{{projectSpaceName}}">
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Launch</button>
  </form>
</div>
