<ol class="breadcrumb" id="booting">
  <li>Page: Home</li>
  <li>Servers</li>
  <li class="active">Project Foo Bar (booting)</li>
</ol>

<div class="container">
  <h2>Project Foo Bar <small>booting...</small></h2>
  <ul class="list-group">
    <li class="list-group-item" ng-class="findLevel(1)">Creating project space</li>
    <li class="list-group-item" ng-class="findLevel(2)">Uploading latest ATK server</li>
    <li class="list-group-item" ng-class="findLevel(3)">Provisioning Cloudera/Spark service</li>
    <li class="list-group-item" ng-class="findLevel(4)">Provisioning database</li>
    <li class="list-group-item" ng-class="findLevel(5)">Binding services</li>
    <li class="list-group-item" ng-class="findLevel(6)">Restarting ATK server</li>
    <li class="list-group-item" ng-class="findLevel(7)">Create first user account on ATK server</li>
  </ul>
  <p>(will redirect to next view when complete)</p>
</div>
