<ol class="breadcrumb" id="booting">
  <li>Page: Home</li>
  <li>Servers</li>
  <li class="active">Project Foo Bar (booting)</li>
</ol>

<div class="container">
  <h2>Project Foo Bar <small>booting...</small></h2>
  <ul class="list-group">
    <li class="list-group-item list-group-item-success">Creating project space</li>
    <li class="list-group-item list-group-item-success">Uploading latest ATK server</li>
    <li class="list-group-item list-group-item-info">Provisioning Cloudera/Spark service</li>
    <li class="list-group-item">Provisioning database</li>
    <li class="list-group-item">Binding services</li>
    <li class="list-group-item">Restarting ATK server</li>
    <li class="list-group-item">Create first user account on ATK server</li>
  </ul>
  <p>(will redirect to next view when complete)</p>
</div>
