<ol class="breadcrumb" id="running">
  <li>Page: Home</li>
  <li>Servers</li>
  <li class="active">Project Foo Bar (running)</li>
</ol>

<div class="container">
  <h2>Project Foo Bar <small>running</small></h2>
  <p>Organization: <kbd>intel</kbd></p>

  <h3>Python configuration</h3>
  <p>Add the following to your python scripts to connect to this ATK server.</p>
  <pre>
this is some python code
yep... it is.</pre>

  <h3>Hadoop configuration</h3>
  <p>To import data Hadoop/HDFS, use the following connection credentials.</p>
  <div class="panel panel-default">
    <table class="table">
      <tr>
        <th>Zookeeper Hosts</th><td>10.10.2.10, 10.10.2.11, 10.10.2.12</td>
      </tr>
      <tr>
        <th>Zookeeper Port</th><td>5555</td>
      </tr>
    </table>

    <div class="panel-footer">
      Remember that your import application must have network connectivity to Hadoop/HDFS.
    </div>
  </div>
</div>
